<%= stylesheet_link_tag  :signup_form_style  %>

<div class = 'signup_box'>
  <h3>Sign up to Exam Builder </h3>
<%= form_for user, :url => registrations_path  do |f| %>
  <%= f.label  :username %>
  <%= f.text_field  :username %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label  :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit 'Sign Up' %><br>
  Aready have an account? Log in  <%= link_to 'here', new_session_path %>

<% end %>

  </div>
